@import '../../@core/scss/base/bootstrap-extended/include';
@import '../../@core/scss/base/components/include';
@import '@inovua/reactdatagrid-enterprise/theme/default-dark.css';

.dark-layout{

    .bookings-table {
        background-color: $theme-dark-card-bg;
        color: lightgray
    }

    .InovuaReactDataGrid__column-header__content {
        background-color: $theme-dark-card-bg;
        color: lightgray
    }

    .InovuaReactDataGrid__column-header__filter-wrapper {
        background-color: $theme-dark-card-bg;
        color: lightgray
    }
    .inovua-react-toolkit-text-input.inovua-react-toolkit-text-input{
        background-color: $theme-dark-card-bg;
        color: lightgray
    }

    .inovua-react-toolkit-date-input {
        background-color: $theme-dark-card-bg;
        color: lightgray
    }

    .inovua-react-toolkit-date-input__input {
        background-color: $theme-dark-card-bg;
        color: lightgray
    }

    .inovua-react-toolkit-numeric-input {
        background-color: $theme-dark-card-bg;
        color: lightgray
    }

    .InovuaReactDataGrid .InovuaReactDataGrid__cell{
        background-color: $theme-dark-card-bg;
        color: lightgray
    }
}