.bs-stepper .bs-stepper-header .step:first-child .step-trigger {
  padding-left: 10px ;
}

.bs-stepper .bs-stepper-header .step:last-child .step-trigger {
  padding-left: 10px ;
  // padding-top: 10px ;

}

.bs-stepper .bs-stepper-header .step .step-trigger {
  padding: 0 0.7rem;
}