@import '../../../@core/scss/base/bootstrap-extended/include'; // Bootstrap includes

.messages-box {
  background-image: url($chat-bg-light);
  background-repeat: repeat;
  background-size: 210px;
  z-index: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 50px;
  height: calc(100% - 50px);
}

.dark-layout .messages-box {
  background-image: url($chat-bg-dark);
  background-color: #1e232f;
}

.scroll-container {
  display: flex;
  overflow: hidden !important;
  flex-direction: column-reverse;
  height: 200% !important;
}

.scroll-list {
  overflow: scroll;
  overflow-y: hidden;
  height: 110%;
}