.modal-body-manage-participants {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6px;
}

.modal-toggle {
  color: black;
}

.modal-participants-count {
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
}

.modal-table-container {
  margin-top: 12px;
  max-height: 500px;
  overflow: auto;
  overflow: hidden;
}

.modal-not-participants-container {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.modal-not-participants-color {
  color: #606B85;
}

.modal-not-participants-user {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
};

.modal-not-participants-p {
  color: #606B85;
  font-size: 1rem;
}