.message-actions-container {
  padding-left: 6px;
  z-index: 6px;
}

.message-text-item {
  width: 100% !important;
}

.message-text {
  margin-left: 5px;
  font-weight: normal;
}

.delete-message {
  color: red;
  margin-left: 5px;
}