.spinner {
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 1;
}

.conversations {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}