.container {
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 111%;
}

.subContainer {
  height: 100%;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.changeSpaceCard {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80%;
}