.badge-notifications {
  align-items: center;
  display: flex;
  font-size: 0.786rem;
  justify-content: center;
  line-height: 0.786;
  min-height: 1.429rem;
  min-width: 1.429rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  position: absolute;
  right: 1px;
  top: -8px;
}