.notes-card {
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    height: 55vh;
    overflow-y: scroll;
}

.input-field-select {
    min-height: 60px;
}

.edit-booking-select-coordinator {
    z-index: 100;
}

.edit-booking-select-class{
    z-index: 90;
}

.edit-booking-select-variant{
    z-index: 80;
}

.edit-booking-select-size {
    z-index: 70;
}
