.notes-card {
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    height: 55vh;
    overflow-y: scroll;
}

.input-field-select {
    min-height: 60px;
}

.edit-booking-select-instructor {
    z-index: 110;
}

.edit-booking-select-coordinator {
    z-index: 100;
}

.edit-booking-select-class{
    z-index: 90;
}

.edit-booking-select-upgrade {
    z-index: 85;
}

.edit-booking-select-variant{
    z-index: 80;
}

.edit-booking-select-size {
    z-index: 70;
}

.pre-event-small-note{
    font-size: 11px;
    font-style: italic;
}

/* Example Styles for React Tags*/
span.tags {
    border: 1px solid #ddd;
    background: #eee;
    color: black;
    font-size: 10px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
}
